<!-- Header -->
<header class="flex justify-between items-center bg-offWhite p-4 border-primaryGreen border-b text-xs md:text-sm xl:text-base">
  <div class="ml-10 lg:ml-0">
    <% 
          const hour = new Date().getHours();
          const greeting = hour < 12 ? "Good Morning" : hour < 18 ? "Good Afternoon" : "Good Evening"; 
        %>
    <div>
      <h1 class="mt-1 font-bold text-yellow-600 text-lg md:text-xl xl:text-2xl"><%= greeting %></h1>
    </div>
  </div>
  <div class="relative">
    <button id="dropdown-toggle" class="flex items-center gap-x-2 bg-white hover:bg-darkGreen p-2 rounded-lg focus:outline-none hover:text-white">
      <i class="ph-circles-four ph-fill text-xl"></i>
      <span class="hidden lg:inline">Menu</span>
    </button>
    <div id="dropdown-menu" class="hidden right-0 absolute bg-white shadow-lg mt-2 rounded-lg w-36 md:w-40 xl:w-48">
      <a href="/admin/investors" class="block hover:bg-gray-100 px-4 py-2">Investors</a>
      <a href="/admin/investment" class="block hover:bg-gray-100 px-4 py-2">Investment</a>
      <a href="/admin/deposit" class="block hover:bg-gray-100 px-4 py-2">Deposit</a>
      <a href="/admin/withdraw" class="block hover:bg-gray-100 px-4 py-2">Withdraw</a>
    </div>
  </div>
</header>

<script>
  // Toggle Dropdown
  const dropdownToggle = document.getElementById('dropdown-toggle');
  const dropdownMenu = document.getElementById('dropdown-menu');

  dropdownToggle.addEventListener('click', () => {
    dropdownMenu.classList.toggle('hidden');
  });
</script>