<main class="relative border-white/40 border-y w-full h-[35rem] sm:h-[37rem] md:h-[39rem] lg:h-[41rem] xl:h-[43rem] 2xl:h-[45rem] text-white">
  <img src="<%= imageUrl %>" alt="Background" class="opacity-20 w-full h-full object-center object-cover">
  <section class="top-0 left-0 absolute flex justify-center items-center bg-black/80 w-full h-full">
    <div class="text-right flex flex-col gap-y-10">
      <h1 class="font-semibold text-3xl md:text-4xl 2xl:text-5xl"><%= heading %></h1>
      <p class="text-sm md:text-base xl:text-lg capitalize"><span class="text-gray-400"><%= subtext %></span> | <%= heading %></p>
    </div>
  </section>
</main>