<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found</title>
  <%- include("partials/_seo"); -%>
  <script defer src="../JS/index.js"></script>
</head>

<body class="text-xs md:text-sm xl:text-base">
  <%- include("partials/_nav"); -%>
  <section class="top-1/2 left-1/2 absolute bg-yellow-50 p-10 rounded-xl size-fit text-center -translate-x-1/2 -translate-y-1/2">
    <h1 class="font-black text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl">Opps!</h1>
    <h3 class="mt-5 font-bold">404 - page not found</h3>
    <p class="mx-auto mt-10 max-w-[50ch]">The link you followed might have been removed or had it's name changed or is
      temporarily unavailable</p>
    <a href="/" class="inline-block bg-yellow-500 hover:bg-yellow-600 mt-8 px-3 py-4 rounded-full w-52 text-white capitalize duration-300">go to
      homepage</a>
  </section>
</body>

</html>